<h1>testing</h1>
{{email}}
{{password}}
<h1>testing2</h1>
<form (ngSubmit)="login()">
    <!-- <div class="form-group" >
        <Input class="form-control" [color]="'purple'" appHover [(ngModel)]="email" type="email" name="email" name="email" placeholder="Please enter your email"/>
    </div>
    <div class="form-group" >
        <Input class="form-control" appHover [(ngModel)]="password" type="text" name="password" name="password" placeholder="Please enter your password"/>
    </div> -->
    <!-- both the input the directive can pass togeter as shown below-->
    <div class="form-group" >
        <!-- the purpose of the # is to get access of the the control but
         [(ngModel)] is to implement two way binding  -->
        <Input class="form-control" #emailControl="ngModel"  [(ngModel)]="email" appEmailvalidator type="email" ngDefaultControl  name="email" placeholder="Please enter your email"/>
    </div>
    <div>
        {{emailControl.errors|json}}
    </div>
    <div class="form-group" >
        <Input class="form-control"  [(ngModel)]="password" type="text" ngDefaultControl  name="password" placeholder="Please enter your password"/>
    </div>
    <button class="btn btn-primary" type="submit">login</button>
</form>