<!-- <app-rooms></app-rooms> -->

<!-- <div [ngSwitch]="role">
    <div *ngSwitchCase="'User'">
      Welcome user
    </div>
    <div *ngSwitchCase="'Admin'">
        <app-rooms></app-rooms>
    </div>
    <div *ngSwitchDefault="">
       you are not allowed to access the website
    </div>

</div> -->
<!--The following line of code user to ref dynamic template fro examle component-->
<!-- <div><ng-template #teze></ng-template>
 
  </div> -->
  <!-- <h2 #ele>Tezera is working hard referencing DOM element</h2> -->
   <app-container>
    <app-employee></app-employee>
    <app-rooms></app-rooms>
   </app-container>

   <router-outlet></router-outlet>
   